<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img
      src="{{ url_for('static', path='images/BlogLogo.jpg') }}"
      alt="Logo"
      width="70"
      height="60"
      class="mx-3"
    >

    <!-- Brand -->
    <a class="navbar-brand" href="/">LikhoYaar ✍️😄</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- LEFT LINKS -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link" href="/">Welcome</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/blogs">Blogs</a>
        </li>

      </ul>

      <!-- RIGHT LINKS -->
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="btn btn-success ms-2" href="/blogs/create-new-blog">
                Create Blog
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>

        <li class="nav-item">
          <a class="btn btn-outline-light ms-2" href="/auth/signup">
            Sign Up
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
